@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(imagens/imagem-body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-pai{
    width: 100%;
    max-width: 1000px;
    height: clamp(400px, 80vh, 900px);
    border-radius: 20px;
    background-color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagem{
    width: 100%;
    max-width: 350px;
    height: 70vh;
    border-radius: 30px;
    background-image: url(imagens/imagem-div.jpg);
    background-size: cover;
    
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.imagem:hover{
    transform: scale(1.07);
    transition: 1s ease;
}

.sub-texto-imagem{
    font-family: "Inria Sans", sans-serif;
}
 
.sub-texto-imagem,
.paragrafo-imagem{
    color: white;
    margin-bottom: 30px;
    padding-left: 10px;
}


.forms{
    width: 100%;
    max-width: 500px;
    min-width: 350px;
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

fieldset {
    border: none;
    border-bottom: 1px solid black;
    position: relative;
    padding: 20px 20px 30px 20px;
    
}

legend {
    position: absolute;
    bottom: -10px;
    left: 20px;
    background-color: white;
    padding: 0 10px;
}

.nome-marca{
    font-family: "Kode Mono", monospace;
    font-size: clamp(40px, 3vw, 120px);
}

.nome-marca:hover{
    transform: scale(1.09);
    transition: 1s ease;

}

.sub-titulo{
    font-size: clamp(30px, 1vw, 70px);
    font-family: "Inria Sans", sans-serif;
}

.cadastro01,
.cadastro02{
    min-width: 400px;
    height: 35px;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
}

.cadastro01{
    margin-bottom: 15px;
}

a{
    font-size: 15px;
}

.button{
    width: 400px;
    height: 35px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    font-size: 15px;
    background-color: #0B1CCA;
    color: white;
}

.button:hover{
    transition: 500ms ease;
    transform: scale(1.05);
}

@media (max-width: 1000px){

    .container-pai{
        max-width: 500px;
    }

    .forms{
        max-width: 300px;
    }

    .imagem{
        display: none;
    }
}