@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{
    background: linear-gradient(#B0CBDC, #3C9CEA);
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.p-header{
    color: white;
    font-family: "Inter", sans-serif;
}

.container01{
    display: flex;
    gap: 60px;
}

nav{
    display: flex;
    gap: 50px;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: white;
    gap: 10px;
    font-family: "Inter", sans-serif;
}

nav a:hover{
    transition: 500ms ease;
    transform: translateY(-10px);
}

.button-header{
    width: 130px;
    height: 30px;
    border-radius: 30px;
    font-family: "Inter", sans-serif;
}

.button-header:hover{
    background-color: #003f72ca;
    color: white;
    transition: 500ms ease;
}

.conteudo-principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.container-01{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button01-main{
    width: 130px;
    height: 30px;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
}

.button01-main:hover{
    transition: 500ms ease;
    color: white;
    background-color: #003f72ca;
}

.imagem{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.imagem img{
    width: 100%;
    max-width: 600px;
    height: auto;
}

h1{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 50px;
}

h1:hover{
    transition: 500ms ease;
    color: #003f72ca;
    transform: scale(1.05);
}

.p-main{
    color: white;
    font-family: "Inter", sans-serif;
}

.div-buttons{
    display: flex;
    gap: 15px;
}

.button-black{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
}

.button-black:hover{
    transition: 500ms ease;
    color: white;
    background-color: #003f72ca;
    transform: translatey(-5px);
}

.button-white{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    font-family: "Inter", sans-serif;
}

.button-white:hover{
    transition: 500ms ease;
    color: white;
    background-color: #b9e4ff;
    transform: translatey(-5px);
}

.container-02{
    display: flex;
    flex-direction: column;
}

.p-main02{
    color: white;
    font-family: "Inter", sans-serif;
}

h2{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 100px;
}

.redes{
    display: flex;
    gap: 40px;
}

.redes a{
    color: white;
    font-size: 15px;
}

.redes a:hover{
    transition: 300ms ease;
    transform: translatey(-5px);
}

@media(max-width: 1262px){
    .p-main02{
        display: none;
    }

    h2{
        display: none;
    }

    .redes{
        position: fixed;
        left: 30px;
        bottom: 10px;

        display: flex;
        gap: 40px;
    }

    .imagem{
        position: fixed;
        bottom: 0;
        right: 20px;
    }

    .imagem img{
    width: 100%;
    max-width: 700px;
    height: auto;
    }
    
    .conteudo-principal{
        margin-top: 10%;
        justify-content: space-between;
    }
}

@media( max-width: 780px) {
    .imagem img{
        display: none;
    }

    .conteudo-principal{
        flex-direction: column;
        padding: 0 20px;
        gap: 60px;
    }

    .container-02{
        margin-bottom: 40px;
    }

    .p-main02{
        display: block;
    }

    h2{
        display: block;
        font-size: 80px;
    }

    .redes{
        position: static; /* volta ao comportamento normal */
        left: auto;
        bottom: auto;
}

.p-header{
    display: none;
}

.button-header{
    display: none;
}

}